@use "reset";

@font-face {
  font-family: "Outerorbit";
  src: url("../src/fonts/outerorbit-font/Outerorbit-rggRL.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background: #060e1b;
  overflow: hidden;
  position: relative;
  font-family: "Outerorbit";
}

.controls {
  position: absolute;
  top: 15px;
  right: 15px;
  width: fit-content;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 7px;

  &_disappear {
    opacity: 0;
    width: 1px;
    pointer-events: none;
  }
}

.controls__button-toggle {
  background-image: url("../src/img/arrow.svg");
  background-size: contain;
  position: absolute;
  background-color: antiquewhite;
  border-radius: 50%;
  top: 15px;
  right: 400px;
  width: 50px;
  height: 50px;

  &_controls-disappear {
    right: 15px;
    transform: rotate(180deg);
  }
}

.controls__input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.controls__button-innerwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls__button {
  font-family: "Outerorbit";
  background-color: aliceblue;
  color: #03102fc2;
  border: 1px solid #03102fc2;
  outline: none;
  height: 29px;
  border-radius: 5px;
  line-height: 31px;
  padding: 0 10px;

  &_active {
    background-color: #03102fc2;
    color: aliceblue;
  }

  &_left {
    margin-right: 21px;
  }
}

.controls__title {
  padding-top: 3px;
}

.controls__input {
  font-family: "Outerorbit";
  margin-left: 15px;
  line-height: 27px;
  height: 24px;
  padding: 1px 0 0 8px;
  width: 57px;

  &_color {
    padding: 0;
    width: 67px;
  }
}
